<a href="https://colab.research.google.com/github/fralibatero/BIBLIOTECA_ANALISIS_DATOS/blob/main/Laboratorio10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Parte 1**

Los ejercicios de práctica son escenarios reales que se deberás realizar el código usando las bibliotecas en Python para la manipulación de los datos y limpieza de los datos, pegar la captura de pantalla del resultado.

1.	Ejercicio de práctica 1.

1.	Salud Digital y Análisis de Datos de Pacientes
Se tiene un conjunto de datos sobre pacientes que incluye nombre, edad, fecha de ingreso y resultados de pruebas. Algunos registros están incompletos o contienen errores.

-	Datos:
•	Nombre: Carlos, Ana, Luis,Pedro, María, None
•	Edad: 34, 29, None, 45, 25, 33
•	Fecha Ingreso: 2021-01-15, 2020/03/12, 2022-07-01,2021/12/01,2021-05-20, 2020-03-12
•	Resultado Prueba: Positivo,Negativo, Positivo,Positivo, Negativo,Negativo.

In [ ]:
import pandas as pd

datos = {'Nombre': ['Carlos', 'Ana', 'Luis', 'Pedro', 'María', 'None'],
         'Edad': [34, 29, None,45,25,33],
         'fecha_ingreso': ['2021-01-15', '2020/03/12', '2022-07-01','2021/12/01', '2021-05-20', '2020-03-12'],
         'Resultado_Prueba': ['Positivo', 'Negativo', 'Positivo', 'Positivo', 'Negativo', 'Negativo']}

df=pd.DataFrame(datos)
print(df)
print("\n")

#Identicar los Valores Nulos y rellenarlos con la media

df['Edad'].fillna(df['Edad'].median(), inplace=True)

print("Elimiandos Valores Nulos en Edad ")
print(df)
print("\n")

#Estandarizar el formato fecha aaaa-mm-dd
df['fecha_ingreso']=df['fecha_ingreso'].astype(str).str.replace('/', '-', regex=False)
# Convertimos la columna 'fecha_ingreso' a formato datetime, manejando valores erróneos como NaT
df['fecha_ingreso'] = pd.to_datetime(df['fecha_ingreso'], errors='coerce', format='%Y-%m-%d')

print("Modificado Formato Fecha")
print(df)
print("\n")

#En nombre se agrega la palabra desconocido a los nombre None
df['Nombre'] = df['Nombre'].replace("None","Desconocido") #Remove inplace

#Modifica con desconocido  los resgistros con nombres  faltanes

print("Modificado Nombre")
print(df)
print("\n")

 #eliminar  de la columna Nombre  valores Nulos

df_clear = df[df['Nombre'] != 'Desconocido']


print("Eliminando Valores Desconicidos en Nombre")
print(df_clear)
print("\n")

**2.	Comercio Electrónico y Recomendaciones Personalizadas**

Se tiene un conjunto de datos sobre transacciones de clientes que incluye el ID del cliente, el producto comprado, la cantidad, el precio y la fecha de la transacción. Algunos registros tienen errores en los precios y fechas.

-	Datos:
•	Cliente ID: 1, 2, 3, 4, 5
•	Producto: A, B, C,D, E
•	Cantidad: 10, 20, None, 5, 15
•	Precio:100, 200$,300, cuatrocientos,500
•	Fecha Transacción: 2023-01-15,2023/02/20,2023-03-25,2023/04/30.2023-05-10

In [ ]:
import pandas as pd
import numpy as np
# Crear DataFrame
data = {
    'Cliente ID': [1, 2, 3, 4, 5],
    'Producto': ['A', 'B', 'C', 'D', 'E'],
    'Cantidad': [10,20,None,5,15],
    'Precio': ['100', '200', '300', '400', '500'],
    'Fecha_Transacción': ['2023-01-15','2023/02/20','2023-03-25','2023/04/30','2023-05-10']
}

df = pd.DataFrame(data)
import pandas as pd
import numpy as np
# Crear DataFrame
data = {
    'Cliente ID': [1, 2, 3, 4, 5],
    'Producto': ['A', 'B', 'C', 'D', 'E'],
    'Cantidad': [10,20,None,5,15],
    'Precio': ['100', '200', '300', 'cuatrocientos', '500'],
    'Fecha_Transaccion': ['2023-01-15','2023/02/20','2023-03-25','2023/04/30','2023-05-10']
}

df = pd.DataFrame(data)
print("Datos Originales ")
print(df)
print("\n")

#Limpiar la columna cantidad, tiene un valor nulo
df['Cantidad'] = df['Cantidad'].fillna(df['Cantidad'].median())

print("**                 Datos Limpios Columna Cantidad                    **")

print(df)
print("\n")

#remplazar cuatrocientos de la columna precio por 400
df['Precio'] = df['Precio'].str.replace('cuatrocientos', '400', regex=False).astype(int)
print("**                 Datos Limpios Columna Precio                    **")
print(df)
print("\n")


#Cambiar el formato de fecha aaaa-mm-dd
df['Fecha_Transaccion']=df['Fecha_Transaccion'].astype(str).str.replace('/', '-', regex=False)
# Convertimos la columna 'Fecha_Transaccion' a formato datetime, manejando valores erróneos como NaT
df['Fecha_Transaccion'] = pd.to_datetime(df['Fecha_Transaccion'], errors='coerce', format='%Y-%m-%d')

# Mostrar los datos de la fecha después de la corrección
print("\nDatos Validados de Fecha de Transacción:")
print(df)
print("*********************************-********************************")
print("\n")

Datos Originales
   Cliente ID Producto  Cantidad         Precio Fecha_Transaccion
0           1        A      10.0            100        2023-01-15
1           2        B      20.0            200        2023/02/20
2           3        C       NaN            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10


**                 Datos Limpios Columna Cantidad                    **
   Cliente ID Producto  Cantidad         Precio Fecha_Transaccion
0           1        A      10.0            100        2023-01-15
1           2        B      20.0            200        2023/02/20
2           3        C      12.5            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10


**                 Datos Limpios Columna Precio                    **
   Cliente ID Producto  Cantidad  Precio Fecha_Transaccion
0           1        A      10.0     100        2023-01-15
1           2        B      20.0     200        2023/02/20
2           3        C      12.5     300        2023-03-25
3           4        D       5.0     400        2023/04/30
4           5        E      15.0     500        2023-05-10



Datos Validados de Fecha de Transacción:
   Cliente ID Producto  Cantidad  Precio Fecha_Transaccion
0           1        A      10.0     100        2023-01-15
1           2        B      20.0     200        2023-02-20
2           3        C      12.5     300        2023-03-25
3           4        D       5.0     400        2023-04-30
4           5        E      15.0     500        2023-05-10
*********************************-********************************

** Escenario: eres un analista de datos en una pequeña empresa que está recopilando información sobre sus clientes.**

El equipo de ventas te entrega un archivo con los siguientes datos:
•	Nombre de los clientes
•	Edad
•	Correo electrónico
•	País
•	Género
•	Número de visitas a la tienda

Sin embargo, cuando abres el archivo, te das cuenta de que hay problemas en los datos:

1.	Valores faltantes: Algunos clientes no tienen información sobre su edad o correo electrónico.
2.	Duplicados: Algunos clientes han sido registrados más de una vez.
3.	Inconsistencias: Hay diferentes formas de escribir el género ("M", "Masculino", "F", "Femenino").
4.	Errores tipográficos: El nombre de algunos países está en minúsculas o mal escrito.
5.	Valores inválidos: Hay una edad registrada que parece imposible (200 años).

-	Datos iniciales (archivo ficticio):
•	Nombre,Edad,Email,Pais,Genero,Visitas
•	Juan,25,juan@mail.com,colombia,M,5
•	Maria,30,maria@mail.com,Colombia,F,7
•	Pedro,,pedro@mail.com,Mexico,H,6
•	Ana,29,ana@mail.com,Argentina,F,4
•	Luisa,28,luisa@mail.com,Colombia,Femenino,8
•	Carlos,200,carlos@mail.com,Brazil,M,2
•	Juan,25,juan@mail.com,colombia,M,5


-	Objetivo: Tu objetivo es limpiar los datos para que estén listos para el análisis, aplicando las siguientes técnicas:

1.	Rellenar valores faltantes.
2.	Eliminar duplicados.
3.	Estandarizar los valores de las columnas (como el género y el país).
4.	Corregir valores inválidos (como la edad de 200 años).

In [ ]:
import pandas as pd
import numpy as np

# Corregimos el número de elementos en la lista 'correo_Electronico'
datos = {
    'nombre': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luisa', 'Carlos', 'Juan'],
    'Edad': [25, 30, np.nan, 29, 28, 200, 25],
    'correo_Electronico': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com', 'ana@mail.com', 'luisa@mail.com', 'carlos@mail.com', 'juan@mail.com'],
    'pais': ['Colombia', 'Colombia', 'Mexico', 'Argentina', 'Colombia', 'Brazil', 'Colombia'],
    'genero': ['M', 'F', 'H', 'F', 'Femenino', 'M', 'M'],
    'visitas': [5, 7, 6, 4, 8, 2, 5]
}

# Crear el DataFrame
df = pd.DataFrame(datos)

# Mostrar el DataFrame
print(df)
print("\n")


# Rellenar valores faltantes en la columna 'Edad' con la media de la edad
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())

# Mostrar el DataFrame
print("**                 Datos Limpios Columna Edad                    **")

print(df)
print("\n")
# Eliminar filas duplicadas basadas en todas las columnas
df = df.drop_duplicates()
print("**                 Eliminar Datos Duplicados                   **")
print(df)
print("\n")

# Estandarizar la columna 'Genero'
df['genero'] = df['genero'].replace({'Masculino': 'M', 'Femenino': 'F'})


print("**                 Estandarizar Genero                   **")
print(df)
print("\n")


# Estandarizar la columna 'Pais' a mayúsculas
df['pais'] = df['pais'].str.capitalize()

print("**                 Estandarizar datos del pais                   **")
print(df)
print("\n")

   nombre   Edad correo_Electronico       pais    genero  visitas
0    Juan   25.0      juan@mail.com   Colombia         M        5
1   Maria   30.0     maria@mail.com   Colombia         F        7
2   Pedro    NaN     pedro@mail.com     Mexico         H        6
3     Ana   29.0       ana@mail.com  Argentina         F        4
4   Luisa   28.0     luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.0    carlos@mail.com     Brazil         M        2
6    Juan   25.0      juan@mail.com   Colombia         M        5


**                 Datos Limpios Columna Edad                    **
   nombre        Edad correo_Electronico       pais    genero  visitas
0    Juan   25.000000      juan@mail.com   Colombia         M        5
1   Maria   30.000000     maria@mail.com   Colombia         F        7
2   Pedro   56.166667     pedro@mail.com     Mexico         H        6
3     Ana   29.000000       ana@mail.com  Argentina         F        4
4   Luisa   28.000000     luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.000000    carlos@mail.com     Brazil         M        2
6    Juan   25.000000      juan@mail.com   Colombia         M        5


**                 Eliminar Datos Duplicados                   **
   nombre        Edad correo_Electronico       pais    genero  visitas
0    Juan   25.000000      juan@mail.com   Colombia         M        5
1   Maria   30.000000     maria@mail.com   Colombia         F        7
2   Pedro   56.166667     pedro@mail.com     Mexico         H        6
3     Ana   29.000000       ana@mail.com  Argentina         F        4
4   Luisa   28.000000     luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.000000    carlos@mail.com     Brazil         M        2


**                 Estandarizar Genero                   **
   nombre        Edad correo_Electronico       pais genero  visitas
0    Juan   25.000000      juan@mail.com   Colombia      M        5
1   Maria   30.000000     maria@mail.com   Colombia      F        7
2   Pedro   56.166667     pedro@mail.com     Mexico      H        6
3     Ana   29.000000       ana@mail.com  Argentina      F        4
4   Luisa   28.000000     luisa@mail.com   Colombia      F        8
5  Carlos  200.000000    carlos@mail.com     Brazil      M        2


**                 Estandarizar datos del pais                   **
   nombre        Edad correo_Electronico       pais genero  visitas
0    Juan   25.000000      juan@mail.com   Colombia      M        5
1   Maria   30.000000     maria@mail.com   Colombia      F        7
2   Pedro   56.166667     pedro@mail.com     Mexico      H        6
3     Ana   29.000000       ana@mail.com  Argentina      F        4
4   Luisa   28.000000     luisa@mail.com   Colombia      F        8
5  Carlos  200.000000    carlos@mail.com     Brazil      M        2

<ipython-input-51-82f8839630e4>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genero'] = df['genero'].replace({'Masculino': 'M', 'Femenino': 'F'})
<ipython-input-51-82f8839630e4>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pais'] = df['pais'].str.capitalize()