<a href="https://colab.research.google.com/github/fralibatero/BIBLIOTECA_ANALISIS_DATOS/blob/main/Laboratorio09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.	Ejercicio de práctica 1.

**Aseguramiento de la Calidad de los Datos
Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso. Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos, como la verificación de valores faltantes y la validación de formatos de datos.**
-	Datos
•	Nombre: Juan,Ana, Pedro,María,Luis,Ana
•	Edad:28, 34, None, 45, 38, 34.
•	Salario:3000, 4000, cinco mil, 4500, 4000, 5000
•	Fecha	Ingreso:2021-01-15,	2020/03/12,	2022-07-01,2021/12/01,2021-05-20, 2020-03-12

In [60]:
import pandas as pd

datos = {'nombre': ['Juan', 'Ana', 'Producto', 'María', 'Luis', 'Ana'],
         'edad': [28, 34, None, 45, 38, 34],
         'salario': [3000,4000,'cinco mil', 4500,4000, 5000],
         'fecha_ingreso': ['2021-01-15', '2020/03/12', '2022-07-01','2021/12/01', '2021-05-20', '2020-03-12']}
df=pd.DataFrame(datos)

print("--------------------------------------------------------")
print(df)
print("---------------------------------------------------------")
print("\n")

print("**************************************")
#1.	Identificar y contar los valores faltantes en cada columna.
valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)
print("**************************************")
print("\n")

print("**************************************")
# Verificar el formato de la columna "Salario"
salarios_incorrectos = df[~df['salario'].astype(str).str.isdigit()]
print("\nSalarios con formato incorrecto:")
print(salarios_incorrectos)
print("**************************************")
print("\n")
# 2. Corregir el formato de fecha

# Primero reemplazamos las barras (/) por guiones (-) solo si la fecha es una cadena (string)
df['fecha_ingreso'] = df['fecha_ingreso'].astype(str).str.replace('/', '-', regex=False)

# Convertimos la columna 'fecha_ingreso' a formato datetime, manejando valores erróneos como NaT
df['fecha_ingreso'] = pd.to_datetime(df['fecha_ingreso'], errors='coerce', format='%Y-%m-%d')

# Mostrar los datos de la fecha después de la corrección
print("\nDatos Validados de Fecha de Ingreso:")
print(df[['nombre', 'fecha_ingreso']])
print("**************************************")

--------------------------------------------------------
     nombre  edad    salario fecha_ingreso
0      Juan  28.0       3000    2021-01-15
1       Ana  34.0       4000    2020/03/12
2  Producto   NaN  cinco mil    2022-07-01
3     María  45.0       4500    2021/12/01
4      Luis  38.0       4000    2021-05-20
5       Ana  34.0       5000    2020-03-12
---------------------------------------------------------


**************************************
Valores faltantes por columna:
nombre           0
edad             1
salario          0
fecha_ingreso    0
dtype: int64
**************************************


**************************************

Salarios con formato incorrecto:
     nombre  edad    salario fecha_ingreso
2  Producto   NaN  cinco mil    2022-07-01
**************************************



Datos Validados de Fecha de Ingreso:
     nombre fecha_ingreso
0      Juan    2021-01-15
1       Ana    2020-03-12
2  Producto    2022-07-01
3     María    2021-12-01
4      Luis    2021-05-20
5       Ana    2020-03-12
**************************************

**Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario, puesto de trabajo y fecha de ingreso. Se requiere implementar aseguramiento de la calidad de los datos, verificando la completitud de los datos, la validez de los salarios y la consistencia de las fechas de ingreso.**

**Datos:
•	Nombre: Juan, Ana, Pedro, María, Luis, Carla
•	Edad: 28, None, 40, 45, 38, 34
•	Salario: 3000, 4000, 4500, cuatro mil, 5000, 4000
•	Cargo: Analista, Gerente, Desarrollador, Gerente, Analista, None
•	Fecha Ingreso: 2021-01-15, 2020/03/12, 2022-07-01, 2021/12/01, None, 2020-
03-12**

In [79]:
import pandas as pd

datos = {'nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'carla'],
         'edad': [28, None, 40, 45, 38, 34],
         'salario': [3000, 4000, 4500, 'cuatro mil',5000,4000],
          'cargo': [ 'Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
          'fecha_ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}


df=pd.DataFrame(datos)

print("---------------TABLA----------------------------------------")
print(df)
print("--------------------------------------------------------------")
print("\n")

#1.	Identificar y contar los valores faltantes en cada columna.
valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)
print("**************************************")
print("\n")

#2.	Verificar el formato de la columna "Salario" para asegurarse de que todos los valores sean numéricos.
# Verificar el formato de la columna "Salario"
salarios_incorrectos = df[~df['salario'].astype(str).str.isdigit()]
print("\nSalarios con formato incorrecto:")
print(salarios_incorrectos)
print("**************************************")
print("\n")

# 3. Corregir el formato de fecha

# Primero reemplazamos las barras (/) por guiones (-) solo si la fecha es una cadena (string)
df['fecha_ingreso'] = df['fecha_ingreso'].astype(str).str.replace('/', '-', regex=False)

# Convertimos la columna 'fecha_ingreso' a formato datetime, manejando valores erróneos como NaT
df['fecha_ingreso'] = pd.to_datetime(df['fecha_ingreso'], errors='coerce', format='%Y-%m-%d')

# Mostrar los datos de la fecha después de la corrección
print("\nDatos Validados de Fecha de Ingreso:")
print(df[['nombre', 'fecha_ingreso']])
print("**************************************")

#	Verificar que no haya valores faltantes en la columna "Cargo".
cargo_Faltante   = df['cargo'].isnull().sum()
print("\nNumero de Cargos Faltantes 'Cargo':")
print(cargo_Faltante)
print("**************************************")
print("\n")
cargo_Faltante   = df[df['cargo'].isnull()]
print("\nRegistro con faltantes en la columna 'Cargo':")
print(cargo_Faltante)
print("**************************************")


#Datos despues de Validacion ".
print("\n---------------TABLA----------------------------------------")
print(cargo_Faltante,salarios_incorrectos)
print("--------------------------------------------------------------")
print("\n")

---------------TABLA----------------------------------------
  nombre  edad     salario          cargo fecha_ingreso
0   Juan  28.0        3000       Analista    2021-01-15
1    Ana   NaN        4000        Gerente    2020/03/12
2  Pedro  40.0        4500  Desarrollador    2022-07-01
3  María  45.0  cuatro mil        Gerente    2021/12/01
4   Luis  38.0        5000       Analista          None
5  carla  34.0        4000           None    2020-03-12
--------------------------------------------------------------


Valores faltantes por columna:
nombre           0
edad             1
salario          0
cargo            1
fecha_ingreso    1
dtype: int64
**************************************



Salarios con formato incorrecto:
  nombre  edad     salario    cargo fecha_ingreso
3  María  45.0  cuatro mil  Gerente    2021/12/01
**************************************



Datos Validados de Fecha de Ingreso:
  nombre fecha_ingreso
0   Juan    2021-01-15
1    Ana    2020-03-12
2  Pedro    2022-07-01
3  María    2021-12-01
4   Luis           NaT
5  carla    2020-03-12
**************************************

Numero de Cargos Faltantes 'Cargo':
1
**************************************



Registro con faltantes en la columna 'Cargo':
  nombre  edad salario cargo fecha_ingreso
5  carla  34.0    4000  None    2020-03-12
**************************************

---------------TABLA----------------------------------------
  nombre  edad salario cargo fecha_ingreso
5  carla  34.0    4000  None    2020-03-12   nombre  edad     salario    cargo fecha_ingreso
3  María  45.0  cuatro mil  Gerente    2021/12/01
--------------------------------------------------------------

1.	Se requiere validar los datos: Precios de Productos, se tiene una lista de productos con los respectivos precios y se necesita validar que ningún precio sea negativo o nulo.

-	Se requiere:
1.	Crear un DataFrame con productos y precios.
2.	Producto: Producto A, Producto B,Producto C,Producto D.
3. Precio:150, -25, 100, None.
4.	Validar que todos los precios sean mayores o iguales a cero y no nulos.
5.	Mostrar los productos con precios inválidos.

In [111]:
import pandas as pd
#1.	Crear un DataFrame con productos y precios.
datos = {'producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
         'precio': [150, -25, 100, None]}

df = pd.DataFrame(datos)
print(df)



#Validar que todos los precios sean mayores o iguales a cero y no nulos.
df['precio_valido'] = df['precio'].notnull() & (df['precio'] >= 0)
print("\n")

#Validar que todos los precios sean mayores o iguales a cero y no nulos.
df['precio_valido'] = df['precio'].apply(lambda x: 'Válido' if (pd.notnull(x) and x >= 0) else 'Invalido')
print("\n")

print("              Precios Inválidos       ")
print("-----------------------------------------------------------")


df_invalido = df[df['precio_valido'] == 'Invalido']
print(df_invalido) #This line is not valid python
print("-----------------------------------------------------------")
print("\n")
print("              Precios Válidos       ")
print("-----------------------------------------------------------")


df_invalido = df[df['precio_valido'] != 'Invalido']
print(df_invalido) #This line is not valid python
print("-----------------------------------------------------------")

     producto  precio
0  Producto A   150.0
1  Producto B   -25.0
2  Producto C   100.0
3  Producto D     NaN




              Precios Inválidos
-----------------------------------------------------------
     producto  precio precio_valido
1  Producto B   -25.0      Invalido
3  Producto D     NaN      Invalido
-----------------------------------------------------------


              Precios Válidos
-----------------------------------------------------------
     producto  precio precio_valido
0  Producto A   150.0        Válido
2  Producto C   100.0        Válido
-----------------------------------------------------------


**Se requiere validar los datos duplicados: Clientes en una Base de Datos, se tiene una lista de clientes donde algunos registros tienen el mismo ID y necesitas identificarlos.**

-	Se requiere:
3.	Crear un DataFrame con información de clientes.
2. ID Cliente:1, 2, 3, 2, 4.
3.	Nombre: Ana, Luis, María, Luis, Carlos
4.	Verificar si hay duplicados en la columna de ID del cliente.
5.	Mostrar los registros duplicados.

-	Resultado esperado: Una tabla que contiene solo los clientes que tienen el mismo ID, facilitando su corrección.

In [118]:
import pandas as pd

# Crear un DataFrame con información de clientes
data = {'ID Cliente': [1, 2, 3, 2, 4],
        'Nombre': ['Ana', 'Luis', 'María', 'Luis', 'Carlos']}

df = pd.DataFrame(data)
print(df)
print("\n")

# Verificar si hay duplicados en la columna de ID del cliente
duplicados = df[df.duplicated(subset='ID Cliente', keep=False)]
def display_dataframe(name,DataFrame):
    print(f"{name}:")
    print(DataFrame)
display_dataframe("Duplicados",duplicados)

   ID Cliente  Nombre
0           1     Ana
1           2    Luis
2           3   María
3           2    Luis
4           4  Carlos


Duplicados:
   ID Cliente Nombre
1           2   Luis
3           2   Luis

**Se requiere tener seguridad en los datos: Encriptación y Desencriptación de Datos Sensibles, se tiene un número de tarjeta de crédito que deseas encriptar para protegerlo y luego desencriptarlo para el uso**

-	Se requiere:
1.	Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101- 1121).
2.	Encriptar esos datos utilizando una clave generada.
3.	Desencriptar los datos y mostrar ambos (encriptado y desencriptado).

In [121]:
## Generar clave de encriptación
from cryptography.fernet import Fernet
key = Fernet.generate_key()
cipher_suite = Fernet(key)
#Datos Sensibles

datos_sensibles = "1234-5678-9101- 1121".encode()
datos_encriptados = cipher_suite.encrypt(datos_sensibles)
datos_desencriptados = cipher_suite.decrypt(datos_encriptados)
print("Datos Encriptados:", datos_encriptados)
print("Datos Desencriptados:", datos_desencriptados.decode())

Datos Encriptados: b'gAAAAABnNXa9nt-VqssRVmTrKYRYHSWzPHXgjwgMXUICHjRzcQjDBxBsdQuBcDrnX6Oh9ELDZ_WZrAiBg3L0wK4mtLdA34DujSfsyeFo11m1z2L9I-jSpnI='
Datos Desencriptados: 1234-5678-9101- 1121